<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings file="RicOneAuth.config">
    <add key="authUrl" value="https://auth.test.ricone.org/login"/>
    <add key="authClientId" value="dpaDemo"/>
    <add key="authClientSecret" value="deecd889bff5ed0101a86680752f5f9"/>
    <!-- Optional Properties -->
    <add key="authProviderId" value="localhost"/>
    <add key="authToken" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhcHBsaWNhdGlvbl9pZCI6ImRwYURlbW8iLCJpYXQiOjE0NjcwNTA4MDMsImV4cCI6MTQ2NzA1NDQwMywiaXNzIjoiaHR0cDovL2F1dGgucmljb25lLm9yZy8ifQ.whgkDJSfkdsZrU7CQ34-Vwaa3y5iHt61tIC3s0rTgV8"/>
  </appSettings>
</configuration>
